*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100vh;
    width: 100%;
    /* background-color: red; */
    position: relative;
    z-index: 1;
}
#nav h4{
    cursor: pointer;
}
#nav{
    height: 5vh;
    width: 30%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    left: 50%;
    top: 2%;
    transform: translate(-50% , 0);
    border-radius: 50px;
    background-color: black;
    z-index: 100;
}
#home-page{
    height: 100vh;
    width: 100vw;
    background-color: white;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home-h1{
    z-index: 8;
    width: 60%;
    font-size: 2.5vw;
    text-align: center;
    /* this is for , text show over the image */
}

#about-page{
    height: 100vh;
    width: 100vw;
    background-color: white;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
    padding: 100px 8% 40px;
    overflow-y: auto;
    color: black;
}
.about-container{
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

/* .about-image{
    width: 330px;
    height: 330px;
    flex-shrink: 0;
}

.about-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    
} */


.about-image {
    position: relative;

    width: 430px;
    height: 430px;

    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}


.profile-circle {
    width: 390px;
    height: 390px;

    border-radius: 50%;

    overflow: hidden;

    border: 7px solid #fff;

    box-shadow:
        0 0 0 2px #eee,
        0 10px 30px rgba(0, 0, 0, 0.08);

    background: #eee;

    position: relative;
    z-index: 2;
}


.profile-circle img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    display: block;
}


/* =========================
   DOT PATTERN
========================= */

.dot-pattern {
    position: absolute;

    top: 20px;
    left: -20px;

    width: 120px;
    height: 100px;

    background-image: radial-gradient(
        #999 1.5px,
        transparent 1.5px
    );

    background-size: 25px 25px;

    opacity: 0.8;
}


/* =========================
   DECORATIVE CIRCLE LINE
========================= */

.circle-line {
    position: absolute;

    right: -5px;
    bottom: 35px;

    width: 90px;
    height: 130px;

    border-right: 2px solid #222;
    border-bottom: 2px solid #222;

    border-radius: 0 0 80px 0;

    transform: rotate(-20deg);

    z-index: 3;
}


.circle-line span {
    position: absolute;

    width: 18px;
    height: 18px;

    background: #111;

    border-radius: 50%;

    right: 75px;
    bottom: -8px;
}


.about-content{
    max-width: 600px;
}

.about-subtitle{
    color: black;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.about-content h1{
    color: black;
    font-size: 48px;
    margin-bottom: 15px;
}

.about-line{
    width: 45px;
    height: 3px;
    background-color: black;
    margin-bottom: 25px;
}

.about-content p{
    color: black;
    /* color: red; */
    font-size: 1.2vw;
    line-height: 1.7;
    margin-bottom: 15px;
}

.resume-btn{
    border: none;
    background-color: black;
    color: white;
    padding: 14px 25px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 10px;
}

.about-cards{
    max-width: 1100px;
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    text-align: center;
    
}

.about-card{
    padding: 10px;
    border-right: 2px solid rgba(120, 116, 116, 0.793);
}

.about-card h3{
    font-size: 25px;
    margin-bottom: 12px;
}

.about-card h4{
    color: black;
    font-size: 16px;
    margin-bottom: 10px;
}

.about-card p{
    color: black;
    font-size: 13px;
    line-height: 1.5;
}
#skills-page{
    height: 100vh;
    width: 100vw;
    background-color: white;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact-page{
    height: 100vh;
    width: 100vw;
    background-color: white;
    position: absolute;
    left: 0%;
    top: 0%;
    z-index:0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#crsr{
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    transform: translate(-50% , -50%);
    z-index: 12;
}

.image-trail {
    position: absolute;
    inset: 0;

    width: 200px;
    height: 140px;

    border-radius: 20px;

    object-fit: cover;

    pointer-events: none;

    opacity: 0;
}